certbot
nginx/rust_decode_rpc/target/
nginx/rust_decode_rpc/Cargo.lock
frontend/.env.frontend
nginx/nginx.conf_same_verti.template
nginx/verify_old.js
nginx/verify_old2.js
nginx/verify_old3.js
nginx/commnd curl.txt
# nyks_faucet
